/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*--------------------------- */
/*      HEADER AREA START     */
/*--------------------------- */

.about-header {
  background-color: #f8f9fa;
}
header .logo,
header nav ul li > a {
  color: #000000;
}
header nav > ul > li > a:after {
  background-color: #ff896b;
}
header .social-icons ul li a:hover {
  background-color: #ff896b;
}
.hero-about {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.hero-about h2 {
  text-align: left;
  color: #000;
  font-size: 5rem;
  font-weight: 700;
  position: relative;
  top: 40%;
}
.hero-about p {
  padding: 0 31rem 0 0;

  position: relative;
  /* left: 44px; */
  top: 32%;
  left: 0;
  font-size: 1.3rem;
  line-height: 1.6;
}

/*--------------------------- */
/*      HEADER AREA END     */
/*--------------------------- */

/*--------------------------- */
/*      MANAGEMENT AREA START     */
/*--------------------------- */

.management {
  width: 90%;
  padding: 6rem 0;
}

.management h2 {
  text-transform: capitalize;
  font-size: 3rem;
  font-weight: 700;
}

.phil-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}

.phil-content h4 {
  font-size: 1.7rem;
}

.phil-container .phil-img {
  height: 25rem;
  background-image: url(../img/room_1_b.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: scroll;
  flex: 1;
}

.phil-container .phil-content {
  flex: 1;
}

.phil-content p {
  line-height: 1.5;
}

.phil-container .phil-para {
  flex: 1;
}

/*--------------------------- */
/*      MANAGEMENT AREA END     */
/*--------------------------- */

/*--------------------------- */
/*      VIDEO AREA START     */
/*--------------------------- */

.watch-video {
  width: 90%;
  margin: 0 auto;
}
.watch-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.watch-header {
  flex: 1;
}

.watch-header h3 {
  line-height: 1.3;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}
.watch-header h3 span {
  display: block;
}
.watch-content {
  flex: 1;
  padding: 0 4rem;
}

.watch-content p {
  line-height: 1.5;
}

.video-img {
  margin: 3rem 0;
  width: auto;
}
.video-img img {
  width: 100%;
  object-fit: cover;
}

/*--------------------------- */
/*      VIDEO AREA END     */
/*--------------------------- */
