* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------- */
/*      HEADER AREA START     */
/*--------------------------- */

.contact-header {
  background-color: #f8f9fa;
}
header .logo,
header nav ul li > a {
  color: #000000;
}
header nav > ul > li > a:after {
  background-color: #ff896b;
}
header .social-icons ul li a:hover {
  background-color: #ff896b;
}
.hero-contact {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.hero-contact h2 {
  width: inherit;
  text-align: left;
  color: #000;
  font-size: 5rem;
  font-weight: 700;
  position: relative;
  top: 10.5rem;
  left: 0;
}
.hero-contact p {
  width: 50%;

  position: relative;
  /* left: 44px; */
  top: 32%;
  left: 0;
  font-size: 1.3rem;
  line-height: 1.6;
}

/*--------------------------- */
/*      HEADER AREA END     */
/*--------------------------- */

/*--------------------------- */
/*      CONTACT AREA START     */
/*--------------------------- */

.contact-container {
  font-family: roboto, "sans-serif";
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5rem 0;
}

.contact-container .form-container {
  flex-basis: 70%;
}
.form-container h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

form {
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
form label {
  color: #b3b3b3;
}
form input[type="text"],
form input[type="email"] {
  width: 75%;
  height: 3rem;
  outline: none;
  border: 1px solid #b3b3b3;
  padding: 1rem 1rem 1rem;
  margin: 0.5rem 0 1.5rem;
}

form textarea {
  width: 75%;
  height: 10rem;
  padding: 1rem;
  outline: 0 none;
  border-radius: 20px;
}
input.form-submit {
  width: 8rem;
  text-transform: capitalize;
  height: 2.8rem;
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  margin-top: 2rem;
  font-weight: 600;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.715);
}

.info-container {
  flex-basis: 30%;

  margin: 6rem 0 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.info-container h4 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 1rem 0 0.7rem;
  font-size: 0.9rem;
  color: #b3b3b3;
}

.info-container span {
  color: #ff896b;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
}
.info-container .address {
  color: #707070;
}

/*--------------------------- */
/*      CONTACT AREA END     */
/*--------------------------- */

/*----------------------------- */
/*      STYLING SOCIAL AREA      */
/*----------------------------- */

.social-icons {
  width: 100%;
}
.social-icons ul li {
  display: inline-block;
}
.social-icons ul li a {
  display: block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.social-icons ul li:hover a {
  background-color: #ff896b;
}

.footer-bottom .social-icons {
  width: 50%;
}
