/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Global CSS */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  line-height: 1.5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #000;
  letter-spacing: 2px;
  font-size: 11px;
}

p {
  margin: 10px 0;
  color: #999999;
  font-family: roboto, sans-serif;
  line-height: 1.3;
}

h2 {
  font-weight: 600;
  color: #000;
  font-size: 300%;
}

/*-----------------------------*/
/****** Header Area Start *****/
/*-----------------------------*/

header {
  height: 100vh;
  max-width: 100%;
  position: relative;
}
.slider {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slide {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.btn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}
.slide-nav {
  padding: 0 1%;
  font-size: 125%;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
}

#next {
  position: absolute;
  top: 50%;
  left: 1%;
}
#prev {
  position: absolute;
  top: 50%;
  right: 1%;
}

.slide.current {
  opacity: 1;
}

.slide:first-child {
  background: url(../img/hotel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slide:nth-child(2) {
  background: url(../img/hotel-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide:nth-child(3) {
  background: url(../img/hotel-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .top-nav {
  top: 0;
  left: 0;
  width: 100%;
  height: 3.8rem;
  position: fixed;
  z-index: 15;
  padding: 1% 2%;
}

header .sticky {
  width: 100%;
  height: 3.8rem;
  position: fixed;
  background-color: #f7f7f7;
  padding: 0 2%;

  -webkit-box-shadow: 4px 1px 13px -4px #7f8c8d;

  box-shadow: 4px 1px 13px -4px #7f8c8d;
}

.sticky ul li a {
  color: #000;
}

.sticky .logo {
  color: #999;
}

header {
  overflow: hidden;
}

header .logo {
  font-weight: 600;
  color: #fff;
  width: 20%;
  float: left;
  z-index: 15;
  margin-right: 2%;
}

header .logo > a {
  font-size: 1.5rem;
  line-height: 3.8rem;
  color: #ff896b;
}
header nav ul {
  list-style: none;
}
header nav button {
  display: none;
}
header nav ul li:last-child {
  margin-right: 0;
}
header nav ul li {
  display: inline-block;
  margin-right: 3%;
  padding-bottom: 0.8rem;
}

header nav ul li > a {
  text-decoration: none;
  color: #fff;
  display: block;
  font-size: 115%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  padding-bottom: 0.3rem;
  position: relative;
  font-weight: 400;
  letter-spacing: 1px;
}
header nav ul li > a:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: -4px;
  left: 0;
  position: absolute;
  background-color: #fff;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

header nav > ul > li > a:hover:after {
  width: 100%;
}

.sticky ul li > a:after {
  content: "";
  height: 1px;
  width: 0;
  bottom: -4px;
  left: 0;
  position: absolute;
  background-color: #ff896b;
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

.sticky > ul > li > a:hover:after {
  width: 100%;
}
nav ul .times {
  cursor: pointer;
}
nav ul li ul {
  list-style: none;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

nav ul li .sub-menu {
  position: absolute;
  display: none;
  z-index: 10;
  margin-left: -10px;
  min-width: 247px;
  top: 3.5rem;

  background-color: #fff;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}
.sub-menu ul li a > i {
  line-height: 1.4;
}
nav ul li ul {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 9% 0;
  -webkit-box-shadow: -1px 3px 16px -5px #7f8c8d;
  box-shadow: -1px 3px 16px -5px #7f8c8d;
}

nav ul li ul li {
  display: block;
  width: inherit;
  margin: 0;
  padding: 0;
  position: relative;
}
nav ul li:hover .sub-menu,
nav ul li:focus .sub-menu,
nav ul li:active .sub-menu {
  display: block;
}
nav ul ul ul li {
  display: block;
  margin: 0;
}
nav ul ul li:hover a {
  background-color: #d4d4d4;
}
nav ul ul li:hover ul li a {
  background: none;
}
nav ul ul li ul li a:hover {
  background-color: #dcdcdc;
}

nav ul li ul li > a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 3% 14%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px;
  line-height: 1.2;
}
/* nav ul ul li >.sub-menu1{
	display: block;
	position: static;
} */
nav ul li ul li:last-child {
  border-bottom: none;
}
header nav ul ul li .icon-2-rotate {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
header nav ul ul li:hover .icon-2-rotate {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
header nav ul ul li:hover .sub-menu1,
header nav ul ul li:focus .sub-menu1,
header nav ul ul li:active .sub-menu1 {
  display: block;
}

header nav ul ul li > .sub-menu1 {
  position: absolute;
  left: 247px;
  top: -25px;
  width: 247px;

  display: none;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
header nav ul ul li {
  position: relative;
}

header .social-icons {
  width: 21%;
  float: right;
  overflow: hidden;
  padding-top: 1%;
}
header .social-icons ul {
  text-align: right;
}
header .social-icons ul li {
  display: inline-block;
  margin: 5px;
  text-align: center;
}
.sticky .social-icons ul li a {
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  color: #fff;
}
header .social-icons ul li a {
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #ecebea;
  border-radius: 50%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.menu-bar {
  display: none;
  z-index: 40;
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.fab,
.fas {
  line-height: 30px;
}
nav {
  float: left;
  width: 57%;
  padding-top: 1%;
}

header .social-icons ul li:first-child {
  margin-right: 25px;
}
.sticky .social-icons ul li a:hover {
  background-color: #ff896b;
}
header .social-icons ul li a:hover {
  background-color: #fff;
}

header h2 {
  position: absolute;
  color: #fff;
  font-weight: 600;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}
/*-----------------------------*/
/****** Header Area End *****/
/*-----------------------------*/

/*-----------------------------*/
/****** Room Area Start *****/
/*-----------------------------*/
section > h2:after {
  content: "";
  position: absolute;
  left: 46%;
  height: 1px;
  width: 7%;
  background-color: #000000;
  bottom: -34px;
}

.rooms_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 6%;
  -moz-column-gap: 6%;
  column-gap: 6%;
  height: auto;
  position: relative;
  margin: 24% 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rooms_container .room-img {
  max-width: 100%;
  padding: 2%;
  position: relative;
  -ms-flex-preferred-size: 47%;
  flex-basis: 47%;
}
.rooms_container .room-img img {
  width: 100%;
  height: 510px;
}

.rooms_container .room-content {
  margin-left: -24%;
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.rooms_container .room-content h2 {
  text-align: left;
}

.rooms_container .room-img2 {
  max-width: 326px;
  height: 488px;
  position: absolute;
  left: 47px;
  top: -65px;
}
.rooms_container .room-img2 img {
  width: 100%;
  height: 100%;
}

.read-more {
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  color: #000;
  font-size: 72%;
}

.read-more:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 1px;
  bottom: -11px;
  background-color: #000;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.read-more:hover:after {
  width: 100%;
}

.rooms_container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 7% 2%;
  -webkit-column-gap: 31%;
  -moz-column-gap: 31%;
  column-gap: 31%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rooms_container2 .room-img3 {
  max-width: 100%;
  width: 540px;
  height: 600px;
  -ms-flex-preferred-size: 53%;
  flex-basis: 53%;
  margin-left: -310px;

  -o-object-fit: cover;

  object-fit: cover;
}
.rooms_container2 .room-img3 img {
  width: 100%;
  height: 100%;
}
.rooms_container2 .room-img4 {
  position: absolute;
  right: 1%;
  top: 40%;
  max-width: 100%;
  width: 379px;
  height: 250px;
}

.rooms_container2 .room-img4 img {
  width: 100%;
  height: 100%;
}

.rooms_container2 .room-content2 {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
/*-----------------------------*/
/****** Romm Area End *****/
/*-----------------------------*/

/*-----------------------------*/
/****** Amenities Area Start *****/
/*-----------------------------*/

.fixed-row {
  margin: 10% 3%;
  max-width: 100%;
}
section > h2 {
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10%;
  position: relative;
}
.hotel_container h2:after {
  content: "";
  position: absolute;
  left: 46%;
  height: 1px;
  width: 7%;
  background-color: #000000;
  bottom: -34px;
}

section .container {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  width: 100%;
  grid-gap: 2rem;
  grid-template-rows: 350px 350px;
}

section .container .box {
  border: 1px solid #efefef;
  padding: 1rem 1rem 0;
  text-transform: capitalize;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  line-height: 1.5;
}
section .container .box:hover {
  border: 1px solid #000;
  -webkit-transform: translateY(-5px) !important;
  -ms-transform: translateY(-5px) !important;
  transform: translateY(-5px) !important;
}

section .container .box .read {
  text-transform: uppercase;
  position: relative;
  font-weight: 600;
  color: #000;
  font-size: 72%;
}

section .container .box .read:after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 1px;
  bottom: -11px;
  background-color: #000;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

section .container .box .read:hover:after {
  width: 0;
}

section .container .box h3 {
  font-size: 1.4rem;
  font-weight: 800;
  padding: 10px 0;
}

section .container .box p {
  line-height: 1.3;
  font-size: 1rem;
  color: #707070;
  margin: 0 0 16px;
  text-transform: none;
}

section .container .box a {
  text-decoration: none;
  color: #232323;
}

section .container .box .icon {
  font-size: 25px;
  color: #676767;
  margin: 10px 0;
}
.box .icon img {
  height: 25px;
  width: 25px;
  -o-object-fit: cover;
  object-fit: cover;
}
/* section .container .box:nth-child(3) {
  padding: 1rem;
} */

/*-----------------------------*/
/****** Amenities Area End *****/
/*-----------------------------*/

/*-----------------------------*/
/****** News Area Start *****/
/*-----------------------------*/

.news-container {
  text-align: left;
  margin: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 3%;
  -moz-column-gap: 3%;
  column-gap: 3%;
}
.news-container .news-content .news-img img {
  max-width: 100%;
  margin-bottom: 5%;
}

.news-container .content-0 {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.news-container .news-content:last-child {
  margin-right: 0;
}

#news-header {
  text-align: left;
  margin-bottom: 10px;
  position: relative;
}
#news-header:after {
  content: "";
  position: absolute;
  left: 0;
  height: 1px;
  width: 14%;
  background-color: #000000;
  bottom: 0;
}
.news-content .content-container a:first-child {
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1.1px;
}
.news-content #read-more {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-size: 72%;
  display: inline-block;
  position: relative;
}

.news-content #read-more:after {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  height: 1px;
  bottom: -3px;
  background-color: #000;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.news-content #read-more:hover:after {
  width: 100%;
}
.content-container .inner-content > p {
  opacity: 0.5;
  display: inline-block;
  font-size: 14px;
  color: #888;
}
.content-container .inner-content > a {
  display: inline;
  margin: 0;
  color: #ffa48d;
  font-size: 14px;
}

.news-container .content-0 > p {
  margin: 35px 0 25px;
}

/*-----------------------------*/
/****** News Area End *****/
/*-----------------------------*/

/*-----------------------------*/
/****** Footer Area Start *****/
/*-----------------------------*/

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: left;
  text-transform: capitalize;
}
.footer-container .footer-area {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px;
}
.footer-container .footer-area:nth-of-type(3) {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.footer-container .inner .inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* text-transform: capitalize; */
}

.contact {
  background-color: #e6e6e6;

  padding: 11% 0;
}
.contact h3 {
  text-align: center;
  font-size: 150%;
  color: #5d5d5d;
}
.contact h3 span {
  position: relative;
  z-index: 1;
}
.contact h3 span:before {
  content: "";
  background: #ff896b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  z-index: -1;
}

.footer-container .footer-2 {
  margin-left: 14%;
}
.footer-container .footer-2 ul li {
  list-style: none;
}
.footer-container .footer-area .news-letter {
  margin: 7% 0;
  font-size: 1rem;
}
.footer-container .footer-area .news-letter #subs {
  padding: 0.5rem;
  line-height: 3rem;
  width: 60%;
  height: 3rem;
  outline: none;
}
.footer-container .footer-area .news-letter input:last-of-type {
  width: 7rem;
  line-height: 3rem;
  height: 3rem;
  text-transform: capitalize;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.footer-container .footer-area .news-letter p {
  margin-top: 0;
  text-transform: none;
}
.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.media {
  width: 30%;
  float: right;
  overflow: hidden;
}
footer .footer-bottom .media ul {
  text-align: right;
}
footer .media ul li {
  display: inline-block;
  margin: 5px;
  text-align: center;
}
footer .media ul li > a {
  display: block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #000;
  border-radius: 50%;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  color: #fff;
  font-size: 16px;
}
footer .media ul li > a:hover {
  background-color: #ff896b;
  color: #fff;
}

footer a {
  font-size: 14px;
  line-height: 2.3;
}
.footer-container p {
  font-size: 15px;
  letter-spacing: 1.2px;
}

.footer-container p:first-letter {
  text-transform: uppercase;
}
.fab,
.fas {
  line-height: 30px;
}

footer ul li a:hover {
  color: #999;
}
footer .copyright p a {
  color: #ff896b;
}
.footer-container h3 {
  font-size: 20px;
}
.to-top {
  position: fixed;
  bottom: 16px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff896b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  color: #fff;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.active {
  opacity: 1;
  pointer-events: auto;
  bottom: 25px;
}

/*-----------------------------*/
/****** Footer Area End *****/
/*-----------------------------*/
